{
  "presets": [
    ["@babel/preset-env", {
      "targets": [
        "node 0.10"
      ],
      "modules": "commonjs",
      "exclude": [
        "transform-regenerator",
        "transform-typeof-symbol"
      ],
      "debug": true
    }]
  ]
}
